<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m2comm.kses_exercise">

    <application
        android:name="com.m2comm.module.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".MyListActivity">

        </activity>
        <activity android:name=".MyExerciseList"></activity>
        <activity android:name=".CalendarActivity"></activity>
        <activity android:name=".AlarmDetail" />
        <activity android:name=".AlarmListActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ContentDetailActivity" />
        <activity android:name=".ContentListActivity" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.m2comm.module.AlarmReceiver"/>



    </application>

</manifest>